.loading {
    animation: loading-screen 3s 0.2s infinite;
}

@keyframes loading-screen {
    0% {
        transform: translateY(0) rotate(0);
    }
    25% {
        transform: translateY(-20px) rotate(0);
    }
    50% {
        transform: translateY(20px) rotate(0);
    }
    75% {
        transform: rotate(180deg);
    }
    100%{
        transform: rotate(360deg);
    }
}